body {
    background: white;
    margin: 0;
    padding: 0;
}

header div h1 {
    color: #4AD9D9;
    text-shadow: 1px 1px 3px #888;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.0em;
    margin: 0;
    display: inline-block;
}

header div h1>a {
    text-decoration: none;
    color: inherit;
}

header div h1>a:hover {
    text-decoration: none;
    color: inherit;
}

header>div>div
{
    position: absolute;
    right: 0;
    bottom: 6px;
    display: inline-block;
}

header>div {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#container {
    width: 1200px;
    margin: auto;
    font-size:  14pt;
}

header {
    background: #E9F1DF;
}

footer {
    margin-top: 2.0em;
    text-align: center;
    font-family: arial;
    font-size: 0.8em;
}

form.form-signin {
    width: 400px;
    margin: auto;
}

form li {
    list-style-type: none;
}

form ul {
    padding-left: 0;
}

h3.top
{
    margin-top: 0;
    padding-bottom: 0.4em;
    overflow: hidden;
}

nav ol
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li>ol
{
    margin-top: 0.4em;
    margin-left: 3.0em;
}

nav>ol
{
    margin-top: 2.0em;
    font-size: 0.8em;
}

nav>ol>li
{
    line-height: 1.6em;
}

.collapsed, .hidden
{
    display: none;
}

.sort-handle:hover
{
    cursor: move;
}

.sort-handle
{
    float: left;
    width: 30px;
    color: #888;
    margin-right: 1.0em;
    padding-left: 10px;
    padding-right: 10px;
}

.sort-ghost
{
    opacity: 0.25;
    border-right: 1px dotted #999;
}

.image-description
{
    margin-left: 325px;
}

ol.listed
{
    margin: 0;
    padding: 0;
}

ol.listed>li
{
    padding: 0 10px;
    padding-top: 10px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 1.0em;
    min-height: 100px;
    overflow: hidden;
    list-style-type: none;
}

ol.listed>li div.action-row
{
    float: right;
    color: #888;
}

ol.listed>li div.action-row span:hover
{
    color: black;
}

ol.listed>li h4
{
    margin-top: 0;
    margin-right: 32px;
}

ol.listed>li p
{
    font-size: 0.8em;
    margin-right: 32px;
}

.content-not-provided
{
    color: #888;
}

section.image-details form
{
    margin-top: 1.0em;
}

.placeholder
{
    color: #888;
    border: 1px dotted #888;
    text-align: center;
    padding: 2.0em;
}

.container-fluid
{
    padding: 0;
}

.option-description
{
    font-size: 0.8em;
}

h4.option-header
{
    margin-top: 2.0em;
}

.selected
{
    background: #e8e8e8;
}

a.gallery-picker
{
    display: inline-block;
    padding: 4px;
}

.section-type-container
{
    overflow: hidden;
}

ol.page-section-list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 150px;
}

ol.page-section-list>li
{
    margin: 0;
    padding: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-right: 1px;
    clear: both;
    overflow: overflow;
    border-top: 1px solid #efefef;
}

ol.page-section-list-empty
{
    border: 1px dashed #cfcfcf;
    border-radius: 4px;
    min-height: 300px;
    margin-bottom: 1.0em;
}

.column-add-button-container
{
    text-align: right;
    text-size: 0.9em;
}

.page-section-footer
{
    text-align: center;
    color: #888;
    margin-top: 2.0em;
    border-top: 2px solid #efefef;
    padding-top: 2.0em;
}

ol.page-section-list>li img
{
    max-width: 100%;
}

/* Uploads */
#gallery-file-uploader, .drag-and-drop-upload-destination
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding: 2.0em;
    text-align: center;
    border: 1px dotted #ccc;
}

.dz-message
{
    color: #aaa;
    font-size: 1.4em;
}

.dz-error-mark, .dz-success-mark
{
    display: none;
}

.dz-details {
    color: #888;
    text-align: left;
    font-size: 0.8em;
}

.dz-image
{
    float: left;
    width: 75px;
    margin-right: 25px;
    text-align: left;
}

.dz-image img
{
    max-width: 75px;
    max-height: 75px;
}

.dz-details .dz-size
{
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.dz-details .dz-filename
{
    position: absolute;
    bottom: 2px;
    right: 120px;
}

.dz-preview
{
    position: relative;
    overflow: hidden;
    margin-top: 1.0em;
    padding: 4px;
    border: 1px solid transparent;
}

.dz-progress {
    border: 1px solid #ccc;
    padding: 2px;
    text-align: left;
    height: 0.8em;
    margin-left: 100px;
}

.dz-progress .dz-upload
{
    background: #515E5F;
    height: 100%;
    display: block;
}

.dz-processing {
    border-color: #222;
}

.dz-complete {
    opacity: 0.2;
}

.dz-error {
    background: #ffcccc;
}